.AccordionRotateIcon {
    transition: transform .2s linear;

    [data-collapsed=true]>& {
        transform: rotate(180deg);
    }
}

.IconShowOnCollapsed {
    [data-collapsed=false]>& {
        display: none;
    }
}

.IconShowOnUncollapsed {
    [data-collapsed=true]>& {
        display: none;
    }
}